caption {
    caption-side: bottom;
    text-transform: uppercase;
}

tr, td, th{
    border: dotted grey 2px;
}

table {
    border: solid white 1px;
    border-collapse:collapse;
}


.Upper {
    background-color: grey;  
}

.odd {
    background-color: #cccccc;
}

tr:hover {
    background-color: aquamarine;
}