h5 {
    text-align:right;
}

h3 {
    font-family: 'Bad Script', cursive;
}

.ygolok {
    text-align: right;
    margin-top: 0%;
    margin-bottom: 0%;
}

.osnova {
    font-family: 'Bad Script', cursive;
}